@import url('https://fonts.googleapis.com/css?family=Inter');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');   /* Regular */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');   /* Bold */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');   /* Extra Bold */


.title-styles{
    text-align: left;
    display: table-header-group;
    font-family: "Inter"
}

.value-styles{
    display: table-header-group;
    font-family: "Inter"
}