@import url('https://fonts.googleapis.com/css?family=Inter');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

.modal-content-history {
    margin: 0 auto;
    flex-direction: column;
    position: relative;
}

.modal-body-history{
    position: relative;
    margin: 0;
    padding: 0px;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.inter{
    font-family: "Inter"
}

.montserrat{
    font-family: "Montserrat", sans-serif
}