@import url('https://fonts.googleapis.com/css?family=Inter');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

.modal-search {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: rgba(0,0,0,0.4);
}

.search-content {
    background-color: #562323;
    border-radius: 30px;
    margin: 15% auto;
    padding: 10px;
    border: 1px solid #888;
    flex-direction: column;
    width: 50%;
    height: 40%;
    position: relative;
}

.search-body{
    background-color: transparent;
    position: relative;
    margin: 2px;
    padding-top: 0vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 85%;
    margin: auto;
    overflow: hidden;
    overflow-y: auto;
}

.inter{
    font-family: "Inter"
}

.montserrat{
    font-family: "Montserrat", sans-serif
}

.search-btn{
    width: 90.5%;
    margin: auto auto auto 0px ;
}