.navbar-style{
    transition-duration: 300ms;
    min-width: min-content;
    overflow: hidden;
    position: sticky;
    height: 100vh;
    top: 0px;
    z-index: 1;
    background-color: rgb(55 16 16);
    color: rgb(255 253 237);
}

.baybayin-style{
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: -15.25vh;
    margin-top: 1vw;
    height:100vh;
}

.content-style{
    position: absolute;
    font-size: 1.25vw;
    top: 0px;
    left: 0px;
    right: 0px;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
}

.appname-style-non{
    padding-left:8vw;
    transition-duration: 300ms;
}

.navpages-style{
    display: grid;
    cursor: pointer;
    gap: 0.25vw;
    transition-duration: 300ms;
    grid-template-columns: repeat(1, minmax(0, 1fr));
}

.dashboard-style{
    display: inline-flex;
    align-items: center;
    column-gap: 1rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.usersys-style{
    display: inline-flex;
    margin-top: 0.5rem;
    align-items: center;
    padding: 0.25rem
}

.logout-style{
    display: flex;
    bottom: 2rem;
    padding:0.5rem;
    column-gap: 1rem;
    font-size: 1.25vw;
    cursor: pointer;
    position: absolute;
    align-items: center;
}