@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* Table Elements */
.table-container {
    margin-top: 1.8005540166204985vh;       /*13px*/
    margin-bottom: 2.21606648199446vh;    /* 16px */
}

.user-table {
    max-width: 60.078125vw;      /*1230px*/
    max-height: 70.6371191135734vh;      /*510px*/
    table-layout: fixed;
    border-collapse: collapse;
    overflow: hidden;
    /* box-shadow: 0 5px 4px -4px rgba(0, 0, 0, 0.15); */
    box-shadow: 0 0 2.770083102493075vh rgba(0, 0, 0, 0.15);      /*0 0 20px*/
    border-radius:  0.9765625vw;    /*15px*/
}

/* Th elements*/
.user-table thead {
    background: white;
    border-radius: 0.9765625vw 0.9765625vw 0vw 0vw ;      /* 15px 15px 0 0 */
    border-bottom: 0.4155124653739612vh solid #F5F6F8;   /* 3px */
}

.user-table thead tr {
    font-size: 1.3020833333333333vw;    /* 20px */
    font-style: normal;
    text-align: left;
    color: #969696;
}

.user-table th,
.user-table td {
    padding: 1.1772853185595569vh 1.3020833333333333vw;    /* 8.5px 20px */
}

/* Tbody elements */
.user-table tbody tr:hover {
    background-color: #FFFDED;
}

.user-table tbody {
    background: white;
    border-radius: 0px 0px 0.9765625vw 0.9765625vw;   /* 0px 0px 15px 15px */
    color: black;
    overflow: auto;
    height: 65.73130193905817vh;  /* 474.58px */
    display: block;
}

.user-table thead,
.user-table tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
    white-space: nowrap;
    font-family: 'Montserrat', sans-serif;
}

/* Td elements */
.user-table td {
    font-size: 1.1067708333333333vw;    /* 17px */
    border-bottom: 0.13850415512465375vh solid #F5F6F8; /* 1px */
    overflow: hidden;

}

.user-table tbody > tr:last-child > td {
    border-bottom: 0;
}

/* Column Elements */
.user-uname {
  font-weight: bold;
  width: 15.158854166666668vw;      /* 325px */
}

.user-name {
  width: 21.158854166666668vw;      /* 325px */
}


/* position Elements */
.user-position {
    font-weight: bold;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.1067708333333333vw;    /* 17px */
    width: 8.138020833333334vw;  /* 125 */
    height: 4.293628808864266vh;   /* 31px */
    padding: 0 !important;
}

.user-position{
    width: 8.138020833333334vw !important;  /* 125px */
    text-align: center;
    align-items: center;
}

.position[data-status="Admin"]:after{
    content : "Admin";
    background-color: #BBDABB;
    color: black;
    border-radius: 3.2552083333333335vw;    /* 50px */
    display: block;
    text-align: center;
}

.position[data-status="User"]:after{
    content : "User";
    background-color: #F29B9B;
    color: black;
    border-radius: 3.2552083333333335vw;
    display: block;
    text-align: center;
}


/* Action Elements */
.user-action {
    text-align: center;
    padding: 0 0;    /* 8.5px 20px */
}
