@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');    /* Regular */

.add-row-modal-backdrop {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 50;
}

.add-row-modal {
    background: #562323;
    height: 36.70360110803324vh; /* 265 px */
    width: 49.479166666666664vw; /* 760 px */
    border-radius: 3.2552083333333335vw; /* 50px */
    padding: 0 3.2552083333333335vw;  /* 50px */
    overflow: hidden;
    box-shadow: 0 5px 30px rgba(0,0,0,.30);

    position: fixed;
    margin: auto;
    z-index: 50;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.add-row-baybayin-style{
    background-repeat: repeat-y;
    background-size: contain;
    margin-left: -11.25vh;
    top: 0;
    margin-top: 0;
    height: 36.70360110803324vh; /* 265 px */
    position: relative;
}

.add-row-modal-content {
    position: relative;
}

.add-row-modal-body {
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    bottom: 10%;
    background: #562323;
}

.add-row-modal-title {
    font-size: 1.3020833333333333vw; /* 20px */
    font-weight: 700; 
    font-style: italic;

    margin-top: 4.1551246537396125vh; /* 30px */
    margin-bottom: 4.847645429362881vh; /* 35px */
}

.add-row-modal-close {
    font-size: 4.847645429362881vh; /* 35px */
}

.add-row-modal-inputs {
    font-size: 1.1067708333333333vw;    /* 17px */
}

.add-row-input-container {
    margin: 0 0.9765625vw; /* 15px left-right */
}

.add-row-input-style{
    width: 100%;
    height: 4.847645429362881vh; /* 35px */
    border-radius: 0.6510416666666666vw; /* 10px */
    text-align: center;
}

/* Inputs */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
  
input[type=number] {
    -moz-appearance: textfield;
}

.add-row-section-coursename {
    width: 11.71875vw; /* 180px */
}

.add-row-section-units {
    width: 3.90625vw; /* 60px */
}

.add-row-section-grade {
    width: 4.8828125vw; /* 75px */
}

.add-row-section-enrolled {
    width: 4.8828125vw; /* 75px */
}

.add-row-section-runningGWA {
    width: 8.138020833333334vw; /* 125px */
}

.add-row-modal-footer {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-top: 4.847645429362881vh; /* 35px */
    font-size: 1.1067708333333333vw;    /* 17px */
}

.add-row-modal-btn {
    height: 5.54016620498615vh; /* 40px */
    width: 9.765625vw;    /* 150px */
    padding: 0.6510416666666666vw 1.770083102493075vh; /* 10px 20px */
    border-radius: 0.6510416666666666vw; /* 10px */
    margin-right: 0.6510416666666666vw; /* 10px */
}

.add-row-btn-discard {
    background-color: aliceblue;
}

.add-row-btn-save {
    background-color: #35724df5;
}

.add-row-btn-save:hover {
    background-color: #3D7D57;
}

.add-row-btn-discard {
    background-color: #E7E7E7;
}

.add-row-btn-discard:hover {
    background-color: white;
}
